<div class = 'panel panel-default post-item' id = {{post.id}}>
    <div class='panel-heading'>
        <a href='/grumblr/profile/{{post.user}}'>{{post.user.username}}</a>
        <img src = '/grumblr/photo/{{post.user}}' width = '30px'>
    </div>
    <div class = 'panel-body'>
        <p>{{post}}</p>
        <p align ='right' class = 'text-muted'> {{post.time}} </p>
    </div>
    <div class='panel-footer'>
        <ol id = 'comment-list{{post.id}}'>
        </ol>
        <input class = 'form-control' id = 'comment-field{{post.id}}' maxlength = 160 type='text' placeholder = 'Write a comment' name = 'comment'>
        <button class= 'btn btn-primary' onclick = 'addComment({{post.id}})'>Comment</button>
    </div>
</div>


